* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url("robo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar ul li {
    list-style: none;

}

.logo img{
    height: 19rem;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(247, 255, 247);
    font-size: 1.3rem;

}

.navbar ul li a:hover {
    color: rgb(14, 76, 37);
}

/*HEADER--------------------------------------------------*/
header {
    position: relative;
    padding: 0 2rem;
    background: rgb(84, 169, 67);
    position: fixed;
    z-index: 9000;
    width: 100%;
    display: block;
    padding: 6px ;

}

.navbar {
    /*-------------------------------------------------------*/
    width: 100%;
    height: 60px;
    max-width: 2200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: rgb(10, 125, 17);
    width: 120px;
    cursor: pointer;
    /* text-shadow: 1px 1px #010210; */

}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #131313;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    text-shadow: 1px 1px #010210;

}

/*  */

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(188, 228, 187, 0.43);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a {
    text-decoration: none;
    color: #106512;
}

.dropdown_menu.open a:hover {
    color: rgb(227, 226, 222);
}

.dropdown_menu.open {
    height: 290px;
}

.dropdown_menu li {

    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

.nav_btn {
    display: flex;
    justify-content: center;
}

#book_table_btn {
    border: none;
    border-radius: 10px;
    background: green;
    color: #edf4ee;
    padding: 25px 40px;
    display: block;
    position: fixed;
    z-index: 9000;
    /* display: none; */
}


.navbar #user {
    color: #0b0101;
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 100px;
    text-shadow: 1px 1px #010210;
}


/* RESPONSIVE DESIGN */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}

/* @media(min-width:412px){
    .navbar #user{
        display: block;
        margin-left: 00px;

    }
} */
@media(min-width:820px) {
    .navbar #user {
        display: block;

        margin-left: 400px;

    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* ==================================================== */


.bookingBt {
    padding-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}

#book_table_btn2 {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: rgb(46, 146, 46);
    color: #edf4ee;
    padding: 10px 30px;
    display: none;
    position: fixed;
    z-index: 9000;
}
#book_table_btn2 a {
    text-decoration: none;
    color: white;
}


@media (min-width: 1024px) {
    #book_table_btn2 {
        display: block;
    }
}
/* ============================================================= */
/* ==================================================================== */
.about-us{
    padding: 80px 0px;
}
.container{
    /* height: 100vh; */
    background-color: #c8e2c7;
    border-radius: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    display: flex;
    /* flex-wrap: wrap; */


}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
   
   
}
.about-us h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
    margin-top: 60px;

}
.about-us h3{
    font-size: 22px;
    color: #3e3c3c;
    /* text-shadow: 1px 1px #0d0d0d; */
    margin-bottom: 9px;
    margin-top: 10px;

}
.about-us p{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}
.about-us img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 7px;
    /* box-shadow: 0 9px 6px rgb(0,0,0,0.3); */
    margin-top: 60px;
}
.social-links{
    margin-bottom: 20px;
}
.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #eef3f3;
    background-color: #333;
    box-shadow: 0 2px 5px rgb(0,0,0,0.3);
    transition: all 0.4s ease;
}
.social-links a:hover{
    transform: translateY(-3px);
}
.btn{
    text-decoration: none;
    color:#fff;
  display: inline-block;
  padding:10px 20px;
  font-size: 18px;
  font-weight: bold;
    text-transform: uppercase;
  border-radius: 5px;
  background-color: #318211;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: all 0.4s ease;
}
.btn:hover{
    transform: translateY(-3px);
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        
  }
    .flex{
        max-width: 100%;
        
  }
    .about-us h2{
        font-size: 31px;
  }
    .about-us p{
        font-size: 16px;
  }
    .social-links a{
        width:30px;
        height: 30px;
        Line-height: 30px;
        font-size: 14px;
        margin-right: 5px
  }
  .btn{
    font-size: 16px;
    padding: 8px 16px;
    margin-bottom: 30px;
  }
}

 /* Newsletter Section */
  
	
 .container_news{
    /* background-color: green; */
    padding: 30px;
  }
  .newsletter__wrapper{
    background: #beedb7;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .newsletter__info{
/* background: red; */
color: #303a44;
width: 40rem;
display: flex;
flex-direction: column;
gap: 10px;
}

.newsletter__title{
    font-size: 3rem;
}
.newsletter__text{
    font-size: 2rem;
}



.newsletter__form{
    /* background: wheat; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.newsletter__form input[type="email"]{
background: rgb(247, 238, 238);
border-radius: 5px;
border: none;
padding: 30px;
width: 20rem;
font-size: 1.5rem;
}
.newsletter__form button[type="submit"]{
padding: 30px;
/* width: 10rem; */
border: none;
border-radius: 10px;
justify-content: center;
font-size: 1.5rem;
background: green;
color: white;
}
@media(max-width:540px){
    .newsletter__wrapper{
        flex-direction: column;
    }
    .newsletter__info{
        width: fit-content;
    }
    .newsletter__form{
flex-direction: row;
    }
    .newsletter__form input[type="email"]{
        background: rgb(247, 238, 238);
        border-radius: 5px;
        border: none;
        padding: 20px;
        width: 10rem;
        font-size:  1rem;
        }
        .newsletter__form button[type="submit"]{
            padding: 20px;
            /* width: 10rem; */
            border: none;
            border-radius: 10px;
            justify-content: center;
            font-size: 1rem;
            background: green;
            color: white;
            }

}
@media(max-width:912px){
    .newsletter__wrapper{
        flex-direction: column;
        
    }
    .newsletter__info{
        width: fit-content;
    }
}
@media(max-width:412px){
 
}


/* End Newsletter Section */

/* =====================================FOOTER================================= */

.footerr {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
}

footer {
    /* margin-top: 50%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

footer ul {

    list-style: none;
    word-spacing: 10%;
}

.footer-col {
    width: 25%;
    /* height: 100%; */
    flex-direction: column;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 2px;
}

.footer-col .f-links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.footer-col .f-links a:hover {
    color: #4d4f55;
    background-color: white;
}

@media(max-width:740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}

.mapBox {
    position: relative;
    margin-left: 70%;
    margin-bottom: 0;
    height: 300px;
    width: 600px;
    background: #fff;
    display: flex;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

@media(max-width:740px) {
    .mapBox {
        margin-left: 60%;
        height: 200px;
        width: 400px;

    }
}

@media(max-width: 555px) {
    .mapBox {
        margin-left: 0%;
        height: 200px;
        width: 400px;
    }
}
