* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url("robo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar ul li {
    list-style: none;

}
.logo img{
    height: 19rem;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(247, 255, 247);
    font-size: 1.3rem;

}

.navbar ul li a:hover {
    color: rgb(14, 76, 37);
}

/*HEADER--------------------------------------------------*/
header {
    position: relative;
    padding: 0 2rem;
    background: rgb(84, 169, 67);
    position: fixed;
    z-index: 9000;
    width: 100%;
    display: block;
    padding: 6px ;

}

.navbar {
    /*-------------------------------------------------------*/
    width: 100%;
    height: 60px;
    max-width: 2200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

}

.logo {
    color: rgb(10, 125, 17);
    width: 120px;
    cursor: pointer;
    /* text-shadow: 1px 1px #010210; */

}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #131313;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    text-shadow: 1px 1px #010210;

}

/*  */

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(188, 228, 187, 0.43);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a {
    text-decoration: none;
    color: #106512;
}

.dropdown_menu.open a:hover {
    color: rgb(227, 226, 222);
}

.dropdown_menu.open {
    height: 290px;
}

.dropdown_menu li {

    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;

}

.nav_btn {
    display: flex;
    justify-content: center;
}

#book_table_btn {
    border: none;
    border-radius: 10px;
    background: green;
    color: #edf4ee;
    padding: 25px 40px;
    display: block;
    position: fixed;
    z-index: 9000;
    /* display: none; */
}


.navbar #user {
    color: #0b0101;
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 100px;
    text-shadow: 1px 1px #010210;
}


/* RESPONSIVE DESIGN */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}

/* @media(min-width:412px){
    .navbar #user{
        display: block;
        margin-left: 00px;

    }
} */
@media(min-width:820px) {
    .navbar #user {
        display: block;

        margin-left: 400px;

    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}







/* ==================================================================================== */

/* ================================================================= */
.userCard{
    background:rgb(204, 228, 196) ;
    padding: 30px 30px 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 10rem;
    padding-top: 100px;
}

.userSec{
    /* background: #106512; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.profileContent{
    display: flex;
    justify-content: center;
    /* background: red; */
    align-items: center;
    padding-top: 10px;
    padding-right: 60px;
}
.nickname label{
    padding-left: 5rem;
    padding-top: 1rem;
    font-size: 2rem;
}
.username{
    padding-left: 1.5rem;
    font-size: 1.5rem;
}
.useremail{
    /* padding-right: 0.3rem; */
    font-size: 1.5rem;
}
.username label{
    /* padding-left: 1rem; */
    font-size: 1.5rem;
    padding-top: 1rem;
}

.useremail label{
    /* padding-left: 1.5rem; */
    font-size: 1.5rem;
    padding-top: 1rem;
}
.profilePic{
    /* background: red; */
    height: 20rem;
    width: 20rem;
    /* border-radius: 1000px 1000px 1000px 1000px; */
}
.profilePic img{
    height: 20rem;
    border-radius: 1000px 1000px 1000px 1000px;

}
@media (max-width:412px){
    .userCard{
        flex-direction: column;
        /* justify-content: center; */
    }
}
/* =================================================================== */

#addDatas{

    width: 30rem;
    /* background: rgb(248, 226, 147); */
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    gap: 10px;
    padding-top: 20px;
    
        }
        #addDatas ul{
    margin-top: -8px;
            background: lavender;
            display: flex;
            flex-direction: column;
            list-style: none;
            border-radius: 10px;
        }
        #addDatas li{
            
            padding: 15px;
            font-size: 1.2rem;
            border-radius: 10px;
            background: rgb(247, 248, 245);
            
        }
        #addDatas span {
            background: rgb(179, 14, 14);
            justify-content: center;
            align-items: center;
           padding: 10px 15px ;
           border: none;
           border-radius: 5px;
           color: white;
            cursor: pointer;
            float: right;
            
        }



.orderPageSec{
    background: rgb(62, 134, 80);
    padding: 20px;
    border-radius: 5px;
   
}
.orderSec{
    /* background: rgb(39, 142, 65); */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.headerText h1{
    color: white;
    font-size: 3rem;
}
.order1{
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    font-size: 1.3rem;
    /* width: 30rem; */
}
#delete{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(163, 49, 49);
    color: white;
    cursor: pointer;
}
#delete:hover{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(193, 99, 99);
    /* color: rgb(159, 14, 14); */
}
@media(max-width:412px){
    .order1{
        grid-template-columns: repeat(1,1fr);
    }
}

/* =====================================FOOTER================================= */

.footerr {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
}

footer {
    /* margin-top: 50%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

footer ul {

    list-style: none;
    word-spacing: 10%;
}

.footer-col {
    width: 25%;
    /* height: 100%; */
    flex-direction: column;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 2px;
}

.footer-col .f-links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.footer-col .f-links a:hover {
    color: #4d4f55;
    background-color: white;
}

@media(max-width:740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}

.mapBox {
    position: relative;
    margin-left: 70%;
    margin-bottom: 0;
    height: 300px;
    width: 600px;
    background: #fff;
    display: flex;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

@media(max-width:740px) {
    .mapBox {
        margin-left: 60%;
        height: 200px;
        width: 400px;

    }
}

@media(max-width: 555px) {
    .mapBox {
        margin-left: 0%;
        height: 200px;
        width: 400px;
    }
}

/* =====================================FOOTER================================= */

.footerr {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
}

footer {
    /* margin-top: 50%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

footer ul {

    list-style: none;
    word-spacing: 10%;
}

.footer-col {
    width: 25%;
    /* height: 100%; */
    flex-direction: column;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 2px;
}

.footer-col .f-links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.footer-col .f-links a:hover {
    color: #4d4f55;
    background-color: white;
}

@media(max-width:740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}

.mapBox {
    position: relative;
    margin-left: 70%;
    margin-bottom: 0;
    height: 300px;
    width: 600px;
    background: #fff;
    display: flex;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

@media(max-width:740px) {
    .mapBox {
        margin-left: 60%;
        height: 200px;
        width: 400px;

    }
}

@media(max-width: 555px) {
    .mapBox {
        margin-left: 0%;
        height: 200px;
        width: 400px;
    }
}

